coclust==0.2.1
executing==2.1.0
pexpect==4.9.0
lazy_loader==0.4
decorator==5.1.1
filelock==3.16.1
idna==3.10
wandb==0.19.1
traitlets==5.14.3
nest-asyncio==1.6.0
torch_cluster==1.6.3
smmap==5.0.1
scikit-learn==1.6.0
multidict==6.1.0
ptyprocess==0.7.0
gensim==4.3.3
scipy==1.13.1
GitPython==3.1.43
fonttools==4.55.3
protobuf==5.29.2
urllib3==2.2.3
parso==0.8.4
ipython==8.31.0
setuptools==75.6.0
pyg_lib==0.4.0+pt25
requests==2.32.3
frozenlist==1.5.0
Jinja2==3.1.4
imageio==2.36.1
gitdb==4.0.11
wrapt==1.17.0
torchvision==0.20.1
networkx==3.4.2
texttable==1.7.0
torchmetrics==1.6.0
jedi==0.19.2
joblib==1.4.2
jupyter_client==8.6.3
asttokens==3.0.0
tqdm==4.67.1
pytorch-lightning==2.5.0.post0
pyzmq==26.2.0
appnope==0.1.4
numpy==1.26.4
munkres==1.1.4
numba==0.60.0
aiohttp==3.11.11
propcache==0.2.1
stack-data==0.6.3
scikit-image==0.25.0
threadpoolctl==3.5.0
psutil==6.1.1
kiwisolver==1.4.7
jupyter_core==5.7.2
python-dotenv==1.0.1
torch_sparse==0.6.18
pyparsing==3.2.0
torch-geometric==2.6.1
fsspec==2024.12.0
matplotlib==3.10.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
pip==23.2.1
torch==2.5.1
yarl==1.18.3
wcwidth==0.2.13
packaging==24.2
pillow==11.0.0
torch_scatter==2.1.2
pydantic_core==2.27.2
prompt_toolkit==3.0.48
tensorboardX==2.6.2.2
cycler==0.12.1
pydantic==2.10.4
comm==0.2.2
pure_eval==0.2.3
tornado==6.4.2
docker-pycreds==0.4.0
smart-open==7.1.0
contourpy==1.3.1
sentry-sdk==2.19.2
sympy==1.13.1
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
attrs==24.3.0
matplotlib-inline==0.1.7
charset-normalizer==3.4.0
lightning-utilities==0.11.9
torch_spline_conv==1.2.2
aiohappyeyeballs==2.4.4
platformdirs==4.3.6
ipykernel==6.29.5
setproctitle==1.3.4
annotated-types==0.7.0
certifi==2024.12.14
debugpy==1.8.11
deeprobust==0.2.11
tifffile==2024.12.12
six==1.17.0
Pygments==2.18.0
click==8.1.7
yacs==0.1.8
llvmlite==0.43.0
MarkupSafe==3.0.2